<%= form_with(model: property, local: true, html: { multipart: true }) do |form| %>
  <% if property.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(property.errors.count, "error") %> prohibited this property from being saved:</h2>

      <ul>
      <% property.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :name %>
    <%= form.text_field :name, id: :property_name %>
  </div>

  <div class="field">
    <%= form.label :description %>
    <%= form.text_area :description, id: :property_description %>
  </div>

  <div class="field">
    <%= form.label :builtup %>
    <%= form.text_field :builtup, id: :property_builtup %>
  </div>

  <div class="field">
    <%= form.label :developer %>
    <%= form.text_field :developer, id: :property_developer %>
  </div>

  <div class="field">
    <%= form.label :rating %>
    <%= form.text_field :rating, id: :property_rating %>
  </div>

  <div class="field">
    <%= form.label :image %>
    <%= form.file_field :image, id: :property_image %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
